/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/* Document Reset */
*, 
::after,
::before {
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
}

/* Variable Declaration */
:root {
    /* Primary Color */
    --pri-clr-orange: hsl(25, 97%, 53%);

    /* Neutral Colors */
    --ntrl-white: hsl(0, 0%, 100%);
    --ntrl-light-grey: hsl(217, 12%, 63%);
    --ntrl-med-grey: hsl(216, 12%, 54%);
    --ntrl-dark-blue: hsl(213, 19%, 18%);
    --ntrl-very-dark-blue: hsl(216, 12%, 8%);
}
html,
body {
    font-family: Overpass, sans-serif, system-ui;
    background-color: var(--ntrl-very-dark-blue);
    color: var(--ntrl-white);
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
ul {
    list-style: none;
}
.rating-wrapper,
.thank-you-wrapper {
    font-family: Overpass, sans-serif, system-ui;
    display: flex;
    background: radial-gradient(
        circle at 50% -75%,
        hsl(214deg 18% 20%) 59%,
        hsl(213deg 20% 18%) 63%
    );
    color: var(--ntrl-white);
    padding: 2rem;
    max-width: 28rem;
    border-radius: 1rem;
}
.rating-icon img {
    width: 20px;
    height: 20px;
}
.rating-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    padding: 1rem;
    background: radial-gradient(
        circle at 50% 50%,
        hsl(214deg 18% 30%) 49%,
        hsl(214deg 18% 28%) 63%
    );
}
.rating-content {
    padding: 0.315rem 0;
}
.rating-heading {
    margin-top: 0.625rem;
    font-weight: 400;
}
.rating-msg {
    color: var(--ntrl-light-grey);
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5rem;
}
.rating {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    text-align: center;
    padding: 0.5rem 0 1rem 0;
}
.rating-msg {
    padding: 0.625rem 0;
}
.rating-content > div {
    display: flex;
    justify-content: center;
}
.btn-circle:hover {
    color: var(--ntrl-white);
    background: var(--pri-clr-orange);
}
.btn-circle:focus {
    background: var(--ntrl-white);
    color: var(--ntrl-med-grey);
}
.btn-circle {
    all: unset;
    outline: revert;
    border: none;
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 100%;
    cursor: pointer;
    background: radial-gradient(
        circle at 50% 50%,
        hsl(214deg 18% 30%) 49%,
        hsl(214deg 18% 28%) 63%
    );
    transition: background 0.5s ease;
}
.btn {
    all: unset;
    outline: revert;
    border: none;
    border-radius: 15px;
    width: 100%;
    height: 2.8rem;
    background: var(--pri-clr-orange);
    text-align: center;
    margin-top: 0.625rem;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background 0.5s ease;
    transition: color 0.5s ease;
}
.btn:hover {
    background: var(--ntrl-white);
    color: var(--pri-clr-orange);
}
.thank-you-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.thank-you-content{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.thank-you-icon img {
    height: 8rem;
    width: 11rem;
    padding: 0.825rem;
}
.score {
    position: relative;
    top: 5px;
    color: var(--pri-clr-orange);
    padding: 0.425rem;
    border-radius: 1rem;
    background: radial-gradient(
        circle at 50% 50%,
        hsl(214deg 18% 30%) 29%,
        hsl(214deg 18% 28%) 63%
    );
}
.thank-you-heading {
    position: relative;
    top: 5px;
    padding: 1rem 0 0 0;
    font-weight: 400;
    font-size: 1.9rem;
}
.thank-you-msg {
    text-align: center;
    color: var(--ntrl-light-grey);
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5rem;
    padding: 8px;
}
.thank-you-wrapper,
.author1 {
    display: none;
}
.author,
.author1 {
    color: 	#47576b;
    padding: 0.08rem 0;
    font-size: 0.825rem;
}
.author a,
.author1 a {
    color: inherit;
}
.author a:visited,
.author1 a:visited {
    color: inherit;
}
.author a:hover,
.author1 a:hover {
    color: var(--ntrl-light-grey);
}